# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Build output
dist/
build/
coverage/

# Dependency directories
jspm_packages/

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# NPM package files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous files
*.tgz
*.gz
*.zip
*.7z

# Operating system files
*.swp
*.swo

# Backup files
*.bak
*.tmp
*.temp

# Ignore coverage reports
coverage/
